<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>online</key>
		<integer>3</integer>
		<key>name</key>
		<string>我的好友</string>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>个性签名:要的就是这个味道</string>
				<key>name</key>
				<string>王麻子</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>个性签名:小朋友，快点交保护费</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>张三</string>
				<key>vip</key>
				<integer>1</integer>
				<key>intro</key>
				<string>个性签名:他就是那么拽</string>
				<key>icon</key>
				<string>001.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>online</key>
		<string>0</string>
		<key>name</key>
		<string>大学同学</string>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>个性签名:TM团长前来报到</string>
				<key>name</key>
				<string>小学好友</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>个性签名:今天是个好日子</string>
				<key>name</key>
				<string>王小二</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
